.button {
  border-style: none;
  height: 30px;
  padding: 6px 12px;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0.6s ease;
  border-radius: 4px;
}

.button.blue {
  background-color: #1fb6ff;
}

button.green {
  background-color: #13ce66;
}

.cadastro {
  width: 30px;
  background: url(../img/add-circle-outline.svg) no-repeat center;
}
.editar {
  width: 30px;
  background: url(../img/pencil-outline.svg) no-repeat center;
}
.excluir {
  width: 30px;
  background: url(../img/ban-outline.svg) no-repeat center;
}

button.red {
  background-color: #ff4949;
}

.button:hover {
  box-shadow: inset 200px 0 0 #00000055;
}
