table {
  width: 100%;
  user-select: none;
  text-align: left;
}

.table th {
  height: 40px;
  background-color: var(--cor-1);
  padding-left: 20px;
  font-size: 1.2rem;
}
.table td {
  height: 50px;
  padding-left: 20px;
}

/* Ações  */
.table th:last-child,
.table td:last-child {
  padding: 0;
  min-width: 140px;
  text-align: center;
}

.table tr:hover {
  background-color: var(--cor-2);
}

@media (max-width: 480px) {
  .table {
    border-spacing: 5px;
  }
  .table thead {
    display: none;
  }
  .table tr {
    box-shadow: 0 1px 3px var(--cor-sombra);
  }
  .table td:not(:first-child) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .table td {
    margin: 10px 0;
  }

  .table tr:hover {
    background-color: inherit;
  }
}
